div(class="nav-wrapper")

    div(class="title")
        h1: a(href="../") My Recipes

    div(class="navigation")
        ul 
            // we will only show these if logged in.
            li: a(href="../home") Home
            li: a(href="../mealplanner") Meal Planner
            li: a(href="../shoppinglist") Shopping List
            li: a(href="../logout") Log Out

