extends layout

block content
  
  include header.pug
  head
    link(rel='stylesheet', href='/stylesheets/home-style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script. 
      function GotoInsertRecipes() {
        //- $.ajax({
        //-   "url": "/mealplanner",
        //-   "method": "POST"
        //- }); 
        $.ajax({url: "/insertRecipes", success: function(result){
          $("body").html(result);
        }});
      }

      function GotoDeleteRecipes(id) {
        $.ajax({
          url: "/delete", 
          data: {ToDelete: id}, 
          method: "POST",
          success: function(result){
            alert("Recipes deleted successfully");
            location.reload();
        }});
      }


  body 
    .outerwrapper 
      .leftwrapper 
        .recipeheader 
          h1 Your Recipes

        each recipe in recipes
          - var id = recipe._id
          .recipewrapper 
            a.recipeleft(href="../recipe/"+recipe.id)
              .recipetitle 
                h2 #{recipe.Title}
                p by (username)
              .recipedescription
                p #{recipe.Description} 
            
            // Maybe the delete button should have an 'are you sure' alert
            .reciperight(onclick="GotoDeleteRecipes("+JSON.stringify(id)+")") 
              p x
          
      .rightwrapper 
        .recipeheader 
          //This is an empty string. Not great but the easiest way to get the two 
          //columns to line up :)
          h1 ‎‎‎‎‏‏‎ ‎
          
        a.recipewrapper(onclick="GotoInsertRecipes()")
          .newrecipebutton 
            p Create New Recipe

