extends layout

block content
  include header.pug
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
    style.
        input[type=submit] {
        margin-top : 25px;
        margin: -20px -50px; 
        position:relative;
        top:50%; 
        left:50%;
        outline:none;
        height: 40px;
        text-align: center;
        width: 130px;
        border-radius:40px;
        background: #fff;
        border: 2px solid $green;
        color:$green;
        letter-spacing:1px;
        text-shadow:0;
        font:{
            size:12px;
            weight:bold;
        }
        cursor: pointer;
        transition: all 0.25s ease;
        &:hover {
            color:white;
            background: $green;
        }
        &:active {
            letter-spacing: 2px ;
        }
        &:after {
            content:"SUBMIT";
        }
        }
  body 
    // You can see the use of a variable below with the title
    // This is inherited from /routes/index.js where you can pass these in
    .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            h4#myModalLabel.modal-title
              | Insert Recipes
          // Modal Body
          .modal-body
            form(role='form' method='post' action='/')
              div.form-group
                label(for='Item') Item:
                input#name.form-control(type='text', placeholder='Item' name='Item')
              div.form-group
                label(for='Quantity') Quantity:
                input#email.form-control(type='text', placeholder='Quantity' name='Quantity')
                br
                            //-   button.btn.btn-primary(type="submit", name="asdf") Submit
                            //-   button.btn.btn-default(type="button", data-dismiss="modal")                                
                input(value='Submit', type='submit')