extends layout

block content
  include header.pug
  head
    link(rel='stylesheet', href='/stylesheets/home-style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script. 
      //- function GotoDeleteShoppingListItem(id) { 
      //-   $.ajax({
      //-     url: "/removeshoppinglistitem", 
      //-     data: {ToDelete: id}, 
      //-     method: "POST",
      //-     success: function(result){
      //-       alert("Item deleted successfully");
      //-       location.reload(); 
      //-   }});
      //- }
      style.
      
  body
    .outerwrapper 
        .leftwrapper 
          .recipeheader  
            h1= title
          if user != null && shoppinglist != null
            h2 Welcome, #{user.name}. This is your shopping list: 

          each item in shoppinglist.List 
            .recipewrapper
              h3 Item: #{item.Item} Quantity: #{item.Quantity}  

              .recipeleft 
                div.form-group
                  <input type="checkbox" name="checkbox">
                  <label for="checkbox"> - check </label><br>
                .recipetitle
                .recipedescription
              .reciperight(onclick="GotoDeleteShoppingListItem("+JSON.stringify(id)+")") 

                p x

          form(role='form' action="/addshoppinglistitem" method="post" )
            div.form-group
              label(for='Item') Item:
              input(type="text" name="Item" placeholder="e.g. 1kg Flour")
            div.form-group
              label(for='Quantity') Quantity:
              input(type="number" name="Quantity" placeholder="e.g. 2")
            div.form-group
              input(value="Submit" type="submit")
        